.Checkout {
    &::before {
        @include desktop {
            content: '';
            background: var(--breadcrumbs-background);
            min-height: 0;
            display: block;
        }
    }
}